.wrapper{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tableHeader{
    font-weight: bolder;
    text-transform: uppercase;
}

.containerWrapper{
    display: flex;
    width: 900px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: -5px 4px 15px 0px #888888;
}

.btn_edit{
    background-color: #396EB0;
    color: #DADDFC;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.btn_delete{
    background-color: #CD1818;
    color: #DADDFC;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}
.btn_view{
    background-color: #2C272E;
    color: #DADDFC;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}